<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMLJlhplPgEiBEI8QgfqyI6e7tIpG-xEc</string>
	<key>GCM_SENDER_ID</key>
	<string>810306145135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myorganization.SwiftUIAuthTutorial</string>
	<key>PROJECT_ID</key>
	<string>swiftuiauthtutorial-b7919</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiauthtutorial-b7919.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810306145135:ios:f565db826a0de401c1769a</string>
</dict>
</plist>